*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 1px solid red;
}

@font-face {
font-family: 'Rosaline';
src: url('../assets/fonts/rosaline.otf');
}

@font-face {
font-family: 'Millaris';
src: url('../assets/fonts/millaris.ttf');
}

/* @font-face {
    font-family: 'MyFont';
    src: url('path/to/MyFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

:root{
    --bg-color: #BF9684;
    --secondary-bg-color: #F2EBE1;
    --Whiteish: #F2EBE1;
    --CTA: #B45F57;
    --footer:#403A37;
    --secondary-color: #858161;
    --dark-font:#403A37;
    --light-font:#F2EBE1;
    
    --produkt-farve-1: #92947E;
    --produkt-farve-2: #EAE5E2;
    --produkt-farve-3: #E7D0C8;
    --produkt-farve-4: #DBD2E0;
}

h1{
    color: var(--dark-font);
    font-family: 'rosaline';
    display: flex;
    align-items: center;
}

h2{
    color: var(--light-font);
    font-family: 'Millaris', sans-serif;
}

p{
    font-family: 'Times New Roman', serif;
}

button{
    outline: none;
    border: none;
    border-radius: 8px;
}

body{
    background: var(--bg-color);
    color: var(--dark-font);
    display: flex;
    justify-content: center;
}

.wrapper{
    width:80%;
    background-color: var(--secondary-bg-color);
}

header{
    display: flex;
    justify-content: space-between;
    padding: 15px, 15px, 0px, 15px;
}

/* menu navigation*/
.menu{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding: 20px;
}
#menu-billede{
    display: flex;
    justify-content: flex-start;
    width: 20px;
    height: 20px;
}

section.ikoner a{
    text-decoration: none;
}

section.ikoner{
    padding: 20px;
}
/*hero sektion*/
.hero-billede{
    position: relative;
    top: 0;
    left: 0;
}


/*styling nyhedsbrev*/
.nyhedsbrev{
    display: flex;
    position: relative;
}

#plante img{
    width: 100%;
    object-fit: contain;
    z-index: 1;
    display: block;
}

#højtaler{
    position:absolute;
    height: 465px;
    right: -280px;
    bottom: 5px;
}

#tilmeld-dig-button{
    display: flex;
    position: absolute;
    left: 38%;
    bottom: 98px;
    z-index: 2;
    background-color: var(--CTA);
    color: var(--light-font);
    padding: 10px 40px;
    letter-spacing: 2px;
    
}

#tilmed-h2{
    color: var(--light-font);
    font-family: 'Millaris', sans-serif;
}

/* Styling af footer */
footer{
    background-color: var(--footer);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer h2{
    font-size: 20px;
}
    
.footer-tekst{
    display: flex;
    justify-content: space-around;
    color: var(--light-font);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    gap: 20px;
    padding: 0.5em 0em;
}

/* footer list */
ul{
    list-style: none;
}

li{
    display: flex;
    padding:0.5em 0em;
}

/* Styling af links */
a{
    color: var(--light-font);
    text-decoration: none;
}
.find-os img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.find-os .trustpilot{
    box-sizing: border-box;
    width: 150px;
    margin-top: 10px;
}

.copyright{
    text-align: center;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--light-font);
}


/* Styling af betalingsmuligheder */
.betalingsmuligheder{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}
.betalingsmuligheder img{
    width: 300px;
    height: auto;
    margin: 4px 0;
}

/* Styling af sociale medier */
.social-logo{
    width: 120px;
    height: 120px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.brand1{
    background: url('../img/logoer.png');
    background-size: 100%;
    background-position: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;   
}

.brands{
    display: flex;
    justify-content: space-around;
    align-items: center;
}




/*CARDS*/
.card{
    border:2px solid var(--CTA) ;
    height: 400px;
    width: 300px;
    border-radius: 22px;
    margin:4px;
}

.card .header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 60px;
}

.card .footer{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-top:2px solid var(--CTA) ;

}

.card .top{
    display: flex;
    justify-content: space-between;
}

.card .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.card .image img{
    width: 250px;
}

.card .footer{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.colors{
    display: flex;
    margin: 10px 0;
    gap:2px;
}

.color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid var(--dark-font);
    font-family: 'Millaris', sans-serif;
    color: var(--light-font);
}

.color:nth-child(1){
    background-color: --var(--produkt-farve-1);
}

.color:nth-child(2){
    background-color: var(--produkt-farve-2);
}

.color:nth-child(3){
    background-color: var(--produkt-farve-3);
}
.color:nth-child(4){
    background-color: var(--produkt-farve-4);
}