*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* outline: 1px solid red;  */
}

@font-face {
font-family: 'Rosaline';
src: url('../assets/fonts/rosaline.otf');
}

@font-face {
font-family: 'Millaris';
src: url('../assets/fonts/millaris.ttf');
}

/* @font-face {
    font-family: 'MyFont';
    src: url('path/to/MyFont.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
} */

:root{
    --bg-color: #E0CBB9;
    --secondary-bg-color: #F2EBE1;
    --Whiteish: #F2EBE1;
    --CTA: #B45F57;
    --footer:#403A37;
    --secondary-color: #858161;
    --dark-font:#403A37;
    --light-font:#F2EBE1;
    
    --produkt-farve-1: #92947E;
    --produkt-farve-2: #EAE5E2;
    --produkt-farve-3: #E7D0C8;
    --produkt-farve-4: #DBD2E0;
}


#menu-bar{
    display: none;
}


label{
    font-size: var(--font-size-large);
    color: var(--secondary-color);
    cursor: pointer;
    font-weight: var(--font-weight-semibold);
    padding: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
}

#menu-bar:checked ~ aside{
    transform: translateX(0); 
}

aside{
    height: 100vh;
    width: 250px;
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    z-index: 1000;
    transition: transform 0.3s ease;
}

#menu-bar{
    /* display: none; */
}

h1{
    color: var(--dark-font);
    font-family: 'rosaline';
    display: flex;
    align-items: center;
    font-size: 56px;
}

h2{
    color: var(--light-font);
    font-family: 'Millaris', sans-serif;
}

p{
    font-family: 'Times New Roman', serif;
}

button{
    outline: none;
    border: none;
    border-radius: 8px;
}

body{
    background: var(--bg-color);
    color: var(--dark-font);
    display: flex;
    justify-content: center;
}

.wrapper{
    width:90%;
    background-color: var(--secondary-bg-color);
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 35px;
    height: 100px;
}

/* menu navigation*/
.menu{
    display: flex;
    gap: 10px;
    justify-content: left;
    align-items: center;
    padding: 20px;
}

#menu-billede{
    display: flex;
    justify-content: flex-start;
    width: 35px;
    height: 20px;
}

section.ikoner a{
    text-decoration: none;
}

section.ikoner{
    display: flex;
    gap: 8px;
    padding: 20px;
}

.ikoner a img{
    width: 35px;
    height: 35px;
}

/*hero sektion*/
section #hero-h2{
    color: var(--CTA);
}

.hero-section{
    display: flex;
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    
}

.hero-billede{
    position: relative;
    width: 50%;
    top: 0;
    left: 0;
    margin:16px;
}

#billede-kvinde{
    position: absolute;
    z-index:2;
    top: 10%;
    right: 15%;
    width:90%;
    height:90%;
    object-fit: contain;
    transform: rotateY(180deg);

    /* outline: 1px solid red; */
}

#hero-bg{
    position: absolute;
    z-index: 1;
    height:90%;
    width: 70%;
    left: 10%;
    top:5%;
    object-fit: contain;

}

.tekst-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 50%;
    text-align: left;
    padding: 20px;
}
.h-txt{
    padding-left: 10px;
}

.button-hero{
display: flex;
justify-content: center;
align-items: center;
gap:10px;
letter-spacing: 2px;
}

#køb-nu-button{
    background-color: var(--secondary-color);
    padding: 10px 40px;
}

#udforsk-button{
    background-color: var(--secondary-bg-color);
    border:solid 3px var(--secondary-color);
    padding: 8px 35px;
}

#udforsk-h2{
    color: var(--secondary-color);
    border-radius: 8px;
}

/*styling nyhedsbrev*/
.nyhed-wrapper{
    overflow: hidden;
}

.nyhedsbrev{
    display: flex;
    position: relative;
}

#plante img{
    width: 100%;
    object-fit: contain;
    z-index: 1;
    display: block;
}

#højtaler{
    position:absolute;
    height: 465px;
    right: -280px;
    bottom: 5px;
}

#tilmeld-dig-button{
    display: flex;
    position: absolute;
    left: 38%;
    bottom: 98px;
    z-index: 2;
    background-color: var(--CTA);
    color: var(--light-font);
    padding: 10px 40px;
    letter-spacing: 2px;
    
}

#tilmed-h2{
    color: var(--light-font);
    font-family: 'Millaris', sans-serif;
}

/* Styling af footer */
footer{
    background-color: var(--footer);
    display: flex;
    flex-direction: column;
    padding: 20px;
}

footer h2{
    font-size: 20px;
}

p.luminaaudioaps {
padding: 7px 0px 9px 0px;
}
    
.footer-tekst{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    color: var(--light-font);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    gap: 20px;
    padding: 0.5em 0em;
}

/* footer list */
ul{
    list-style: none;
}

li{
    display: flex;
    padding:0.5em 0em;
}

/* Styling af links */
a{
    color: var(--light-font);
    text-decoration: none;
}

.find-os img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.find-os .trustpilot{
    box-sizing: border-box;
    width: 150px;
    margin-top: 10px;
}

.copyright{
    text-align: center;
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: var(--light-font);
}


/* Styling af betalingsmuligheder */
.betalingsmuligheder{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

.betalingsmuligheder img{
    width: 300px;
    height: auto;
    margin: 4px 0;
}

/* Styling af sociale medier */
.social-logo{
    width: 120px;
    height: 120px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
}
.sociale-medier {
        padding: 4px 0px 0px 0px;
}

.brand1{
    background: url('../img/logoer.png');
    background-size: 100%;
    background-position: 100px 100px;
    width: 100px;
    height: 100px;
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;   
}

.brands{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/*produkter*/
.produkter{
    height:800px;
}

.products{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    gap: 20px;
}

.card:nth-child(2){
    transform: translateY(-130px) scale(1.4);
}



/*CARDS*/
.card{
    border:2px solid var(--CTA) ;
    height: 400px;
    width: 300px;
    border-radius: 22px;
    margin:4px;
    background-color: var(--secondary-bg-color);

}

.card .header{
    display: flex;
    justify-content: space-between;
    padding: 8px;
    height: 60px;
}

.card .footer{
    display: flex;
    justify-content: space-between;
    padding: 12px;
    border-top:2px solid var(--CTA) ;

}

.card .top{
    display: flex;
    justify-content: space-between;
}

.card .image{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 100%;
}

.card .image img{
    width: 250px;
}

.card .footer{
    display: flex;
    flex-direction: column;
    padding: 12px;
}

.colors{
    display: flex;
    margin: 10px 0;
    gap:2px;
}

.color{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 1px solid #99999950;
    font-family: 'Millaris', sans-serif;
    color: var(--light-font);
}

.color:nth-child(1){
    background-color: var(--produkt-farve-1);
}

.color:nth-child(2){
    background-color: var(--produkt-farve-2);
}

.color:nth-child(3){
    background-color: var(--produkt-farve-3);
}
.color:nth-child(4){
    background-color: var(--produkt-farve-4);
}

/* Media query for mobile */
@media (max-width: 768px) {
    h1{
    font-size: 16px;
}

header{
    padding:4px;
}

.ikoner a img{
    height: 22px;
    width: 22px;
}

#menu-tekst{
    display: none;
}

    .card {
        width: 100%;
        height: auto;
    }

    .products {
        flex-direction: column;
        align-items: center;
    }
}